@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num-doctors {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-centers {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-pocs {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-activities {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num-doctors: 0;
    --num-centers: 0;
    --num-pocs: 0;
    --num-activities: 0;
  }
  to {
    --num-doctors: 4200;
    --num-centers: 1300;
    --num-pocs: 6;
    --num-activities: 15;
  }
}

html,
body {
  font-family: "Lato", sans-serif;
  background: rgb(250, 251, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 251, 255, 1) 0%,
    rgba(247, 248, 250, 1) 35%,
    rgba(249, 249, 249, 1) 100%
  );
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.animate-link:after {
  display:block;
  content: '';
  border-bottom: solid 0.3rem #004682;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.animate-link:hover:after { transform: scaleX(1); }

.animation-pulse {
  animation: pulse 2s infinite;
}

.animation-sideToSide {
  animation: sideToSide 3s infinite;
}

.bg-main {
  background-image: linear-gradient(to right top, #4b9e1e, #009061, #007c8d, #006399, #004682);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #2463eb;
  }

  50% {
    box-shadow: 0 0 0 20px rgba(229, 62, 62, 0);
  }
}

@keyframes sideToSide {
  0%, 100% {
    transform: translateX(45%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
